# Dependencies
node_modules/

# Build outputs
.expo/
dist/
web-build/

# Environment
.env*.local
expo-env.d.ts

# Deployment
.vercel

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# System
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

